.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: #2f3135;
}

.sidebar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2f3035;
    color: white;
    border-bottom: 3px solid #26282c;

}

.sidebar-channels {
    flex: 1;
}

.sidebar-addChannel {
    cursor: pointer;
}

.sidebar-addChannel:hover {
    color: white;
}

.sidebar-channelsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2f3135;
    color: gray;
}

.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar-voice, .sidebar-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    background-color: #2f3135;
    padding: 10px;
    border-top: 1px solid gray;
}

.sidebar-voiceInfo {
    flex: 1;
    padding: 10px;
}

.sidebar-voiceIcon {
    color: #4fb185;
}

.sidebar-voiceInfo > h3 {
    color: #4fb185;
}

.sidebar-voiceInfo > p {
    font-size: smaller;
}

.sidebar-voiceIcons > .MuiSvgIcon-root {
    padding: 10px;
}

.sidebar-profileInfo {
    flex: 1;
    padding: 10px;
}

.sidebar-profileInfo > h3 {
    color: white;
}

.sidebar-profileIcons > .MuiSvgIcon-root{
    padding: 10px;
}