.message {
    display: flex;
    align-items: center;
    padding: 20px;
    color: white;
}

.message-info {
    margin-left: 20px;
}

.message-timestamp {
    color: gray;
    margin-left: 20px;
    font-size: x-small;
}

